/* General styles */

:root {
  --main-color: #ffffff;
  --primary-title-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --black-logo: #000000;
  --primary-bg-color: #2f303a;
  --team-bg-color: #f5f4fa;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --button-box-shadow: rgba(0, 0, 0, 0.15);
  --button-shadow-bg: #188ce8;
  --main-letter-spacing: 0.03em;
  --border-color: #ececec;
  --border-second-color: #eeeeee;
  --icon-bg-color: #AFB1B8;
  --logo-footer-color: #ffffff;
}

* {
  box-sizing: border-box;
}

.img {
  width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

.page-body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  /* outline: 1px solid red; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.text {
  font-weight: 400;
  letter-spacing: var(--main-letter-spacing);
}

.hero,
.page-footer {
  background-color: var(--primary-bg-color);
}

/* Header styles */
.page-header {
  background-color: var(--main-color);
  border-bottom: 1px solid var(--border-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav,
.contacts-nav {
  display: flex;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link,
.contacts-nav .link {
  /* display: block; */
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts-nav {
  margin-left: auto;
}

.contacts-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link,
.title {
  color: var(--primary-title-color);
}

.text,
.contacts-nav .link {
  color: var(--primary-text-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.header-link .icon {
  margin-right: 10px;
  fill: currentColor;
}


.logo-web,
.header-link.current,
.header-link:hover,
.header-link:focus, 
.footer-list .link:hover,
.footer-list .link:focus {
  color: var(--accent-color);
}



/* WebStudio logo styles */
.studio-black {
  color: var(--black-logo);
}

.studio-white {
  color: var(--main-color);
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: var(--main-letter-spacing);
}

.page-header .logo-link {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.second-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: var(--main-letter-spacing);
}

/* Hero styles*/
.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-color);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.hero-button {
  display: inline-block;
  text-align: center;
  /* min-width: 200px; */

  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  align-items: center;
  letter-spacing: 0.06em;

  font-family: inherit;
  cursor: pointer;
  color: var(--main-color);
  background: var(--accent-color);
  border-radius: 4px;
  border: none;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--main-color);
  background: var(--button-shadow-bg);
  box-shadow: 0px 4px 4px var(--button-box-shadow);
}

/* Benefits Styles */
.section-benefits {
  padding-top: 94px;
}

.section-services,
.section-team,
.section-clients,
.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits-list {
  display: flex;
  margin-left: -30px;
  margin-bottom: 0;
}

.benefits-list .item {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: calc((100% - 90px) / 4);
  margin-left: 30px;
}

.benefits-list .item:last-child,
.services-list .item:last-child,
.team-list .item:last-child {
  margin-right: 0;
}


.benefits-icons {
  display: flex;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--team-bg-color);

}

.benefits-icon {
  width: 70px;
  height: 70px;
}

.benefits-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: var(--main-letter-spacing);
  text-transform: uppercase;
  color: var(--primary-title-color);
}

.benefits-list .text {
  margin-top: 10px;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: var(--main-letter-spacing);
}


/* Services styles */
.services-list {
  display: flex;
  margin-left: -30px;
}

.services-list .item {
  width: calc((100% - 60px) / 3);
  margin-left: 30px;
  margin-bottom: 0;
}
.section .second-title {
  margin-bottom: 50px;
}


/* Team styles */
.section-team {
  background-color: var(--team-bg-color);
}

.team-list {
  display: flex;
  align-items: center;
  margin-left: -30px;
}

.team-list .item {
  width: calc((100% - 90px) / 4);
  margin-left: 30px;
  background: var(--main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
} 

.team-name.title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: var(--main-letter-spacing);
}

.team-position.text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: var(--main-letter-spacing);
}


/* Icons styles */

.team-list .social-icons {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.team-list .social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.team-list .social-item:last-child {
  margin-right: 0;
}

.team-list .social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--main-color);
  color: var(--icon-bg-color);
}

.team-list .social-link:hover,
.team-list .social-link:focus {
  background-color: var(--accent-color);
}

.team-list .social-link:hover,
.team-list .social-link:focus {
  color: var(--main-color);
} 

.team-list .social-icon {
  fill: currentColor;
} 


/* Clients */
.clients-list {
  display: flex;
}

.clients-list .item {
  list-style: none;
  width: 170px;
  height: 92px;
  margin-right: 30px;
  /* flex-basis: calc((100% - 150px) / 5);
  margin-right: 30px; */
} 

.clients-list .item:last-child {
  margin-right: 0;
} 

.clients-list .clients-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-list .clients-icon {
  fill: var(--icon-bg-color);
}

.clients-list .clients-link:hover .clients-icon,
.clients-list .clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

/* Footer styles */
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer .container {
  display:flex;
  align-items: baseline;
  /* justify-content: space-between; */
}

.footer-address {
  margin-top: 20px;
}
.footer-list {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: var(--main-letter-spacing);
}

.footer-list .item + .item {
  margin-top: 9px;
}

.footer-map {
  color: var(--main-color);
}

.footer-tel,
.footer-mail {
  color: var(--footer-link-color);
}


.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: var(--main-letter-spacing);
  text-transform: uppercase;
  margin-bottom: 20px;

  color: var(--main-color);
}

 .footer-social {
  margin-left: 70px;
}

.footer-icons {
  display: flex;
}

.footer-icons .item {
  width: 44px;
  height: 44px;
}

.footer-icons .item:not(:last-child) {
  margin-right: 10px;
}

.footer-icons .social-link {
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
background: rgba(255, 255, 255, 0.1);
}

.footer-icons .social-icon {
  fill: var(--logo-footer-color);
}

.footer-icons .social-link:hover,
.footer-icons .social-link:focus {
  background-color: var(--accent-color);
}
/* Portfolio styles */
.flex-container .list {
  display: flex;
  flex-wrap: wrap;
}

.flex-text {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;

  border-right: 1px solid var(--border-second-color);
  border-bottom: 1px solid var(--border-second-color);
  border-left: 1px solid var(--border-second-color);
}

.flex-text .title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
}

.flex-text .text {
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: var(--main-letter-spacing);
  color: var(--primary-text-color);
}

.flex-link {
  display: block;
}

.flex-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

}
.flex-projects .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  background: var(--main-color);
}

.flex-projects .item:nth-child(3n) {
  margin-right: 0;
}

.flex-projects .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}



/* Portfolio buttons styles */
.flex-button {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.flex-button .button {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: var(--main-letter-spacing);
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.flex-button .item + .item {
  margin-left: 8px;
}

.flex-button .primary {
  padding: 6px 25px;
  color: var(--main-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.flex-button .secondary {
  padding: 6px 22px;
  color: var(--primary-title-color);
  background: var(--team-bg-color);
}

.flex-button .secondary:hover,
.flex-button .secondary:focus {
  color: var(--main-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

